---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
{% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
{% include back-link.html %}
{% else %}
<header class="site-masthead">
  {% include menu.html %}
  {% if site.title %}
  <h1>
    {{ site.title }}
  </h1>
  {% endif %}
  <!-- {% if site.description %}
  <h2>
    {{ site.description }}
  </h2>
  {% endif %} -->
</header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content" style="max-width:none" ;>

  <!-- Flickity HTML init -->
  <div class="gallery js-flickity">
    <div class="gallery-cell"><img src="./assets/images/img2.jpg" alt="Kid at a competition" /></div>
    <div class="gallery-cell">
      <div style="align-content:center; padding: 3em;">
        <h2>Location</h2>
        <div style="float:left">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d34920.4642853293!2d98.95399442641944!3d18.74829706956419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da31bd0d1c94f9%3A0xdbe4e4cb72451c7!2sWorld%20Club%20Sport%20Complex!5e0!3m2!1sen!2sth!4v1659328079838!5m2!1sen!2sth"
            width="600" height="450" style="border: 0px; float:left" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h3 style="float:left; padding: 3em;">To the left in the main lobby, past the desk. </br>
            Then go down the stairs and to the right: next to the pool.
          </h3>
        </div>
      </div>
    </div>
    <div class="gallery-cell"><img src="./assets/images/img1.jpg" alt="The no-gi gang" /></div>
    <div class="gallery-cell"><img src="./assets/images/img3.jpg" alt="Teaching Kids" /></div>
    <div class="gallery-cell"><img src="./assets/images/img4.jpg" alt="No-gi full house" /></div>
    <div class="gallery-cell"><img src="./assets/images/img5.jpg" alt="Mixed group standing eogether" /></div>
    <div class="gallery-cell"><img src="./assets/images/img6.jpg" alt="Kids choking eachother" /></div>
    <div class="gallery-cell"><img src="./assets/images/img7.jpg" alt="Seminar" /></div>
    <div class="gallery-cell"><img src="./assets/images/img8.jpg" alt="Open roll group photo" /></div>
    <div class="gallery-cell"><img src="./assets/images/img9.jpg" alt="Children's open roll" /></div>
    <div class="gallery-cell"><img src="./assets/images/img10.jpg" alt="kid practicing on adult" /></div>
    <div class="gallery-cell"><img src="./assets/images/img11.jpeg" alt="Gym opening" /></div>
    <div class="gallery-cell"><img src="./assets/images/img12.jpeg"
        alt="Parents attending children's practice competition" /></div>
    <div class="gallery-cell"><img src="./assets/images/img13.jpeg" alt="Rae and me in 50/50 leg position" /></div>
    <div class="gallery-cell"><img src="./assets/images/img14.jpeg" alt="BJJ card game" /></div>
  </div>

  <script>
    var flky = new Flickity('.gallery', {
      // options, defaults listed

      accessibility: true,
      // enable keyboard navigation, pressing left & right keys

      adaptiveHeight: false,
      // set carousel height to the selected slide

      autoPlay: true,
      // advances to the next cell
      // if true, default is 3 seconds
      // or set time between advances in milliseconds
      // i.e. `autoPlay: 1000` will advance every 1 second

      cellAlign: 'center',
      // alignment of cells, 'center', 'left', or 'right'
      // or a decimal 0-1, 0 is beginning (left) of container, 1 is end (right)

      cellSelector: undefined,
      // specify selector for cell elements

      contain: false,
      // will contain cells to container
      // so no excess scroll at beginning or end
      // has no effect if wrapAround is enabled

      draggable: '>1',
      // enables dragging & flicking
      // if at least 2 cells

      dragThreshold: 3,
      // number of pixels a user must scroll horizontally to start dragging
      // increase to allow more room for vertical scroll for touch devices

      freeScroll: false,
      // enables content to be freely scrolled and flicked
      // without aligning cells

      friction: 0.2,
      // smaller number = easier to flick farther

      groupCells: false,
      // group cells together in slides

      initialIndex: 0,
      // zero-based index of the initial selected cell

      lazyLoad: true,
      // enable lazy-loading images
      // set img data-flickity-lazyload="src.jpg"
      // set to number to load images adjacent cells

      percentPosition: true,
      // sets positioning in percent values, rather than pixels
      // Enable if items have percent widths
      // Disable if items have pixel widths, like images

      prevNextButtons: true,
      // creates and enables buttons to click to previous & next cells

      pageDots: true,
      // create and enable page dots

      resize: true,
      // listens to window resize events to adjust size & positions

      rightToLeft: false,
      // enables right-to-left layout

      setGallerySize: true,
      // sets the height of gallery
      // disable if gallery already has height set with CSS

      watchCSS: false,
      // watches the content of :after of the element
      // activates if #element:after { content: 'flickity' }

      wrapAround: false
      // at end of cells, wraps-around to first for infinite scrolling

    });
  </script>

</main>